# Maven build output
target/

# IDE & project files
.idea/
*.iml
*.ipr
*.iws
*.class
*.log
*.tmp
*.swp
*.bak

# Eclipse / STS
.project
.classpath
.settings/
.springBeans

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore